---
import Layout from '../layouts/Layout.astro';
import PageSpacer from '../components/ui/PageSpacer.astro';
import ArticleHeaderLogo from '../components/ArticleHeaderLogo.astro';
import AboutContent from '../components/pages/about/AboutContent.astro';
---

<Layout title="About">
  <PageSpacer />
  <div class="max-w-3xl mx-auto">
    <ArticleHeaderLogo />
    <AboutContent />
  </div>
</Layout>