<div class="h-8"></div>
<div class="flex justify-center mb-4 sm:mb-6">
  <a href="/" class="block w-48 sm:w-64 transition-transform duration-300 hover:scale-[0.98]">
    <img 
      src="https://i.imgur.com/ZbppdHN.png" 
      alt="CTRL SHIFT Logo" 
      class="w-full h-auto rounded-lg transition-opacity duration-300 hover:opacity-80"
    />
  </a>
</div>