---
---
<a href="/" class="block w-32 mx-auto mb-8">
  <img 
    src="https://i.imgur.com/1HCTLsV.png" 
    alt="CTRL SHIFT Logo" 
    class="w-full h-auto rounded-lg transition-opacity duration-300 hover:opacity-80"
  />
</a>