---
import ArticleHeaderLogo from '../../ArticleHeaderLogo.astro';

---

<div class="max-w-5xl mx-auto px-4">
  <ArticleHeaderLogo />
  <h1 class="text-4xl font-sans font-black mb-12 text-white/90">US Elections Coverage</h1>
</div>